$main-color-light: #1D84CB;
$main-color-dark: #2E77AE;

$main-shadow: #12343b;
$bg-color: #e1b382;
$bg-shadow: #c89666;

$light-color: #2E77AE;
$dark-color: #0D2137;

$main-color: black;
$main-color-hover: grey;
